.header {
    background-image: url(../../assets/banner.png);
    background-size: contain;
    background-position: top center;
    height: 54vh;
    max-height: max-content;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #fF0202;
}

@media screen and (max-width: 1400px ) {
    .header {
        background-repeat: repeat;
    }
}

@media screen and (max-width: 850px ) {
    .header {
        height: 0vh;
    }
}