

.card--container {
    margin: 50px auto;
    border-radius: 30px;
    padding: 2.5rem;
    width: 70%;
    height: 35vh;
    background-color:#7BCA3D35; 
    border: solid 2.5px #7BCA3D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.boxList {
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemList {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 5px ;
    padding: 10px;
    color: red;
    font-weight: bold;
    text-align: left;
    max-width: 80%;
}


.link {
    cursor: pointer;
    border-radius: 5px;
    background-color: lightgreen;
    transition: 0.5s;
}

.link:hover {
    background-color: greenyellow;
}

.descriptionBox {
    padding: 10px;
    border: dashed 1.5px red;
    border-radius: 20px;
    margin: 0 5px;
    max-width: 100%;
}

.descriptionData { 
    font-size: 0.9rem;
}

@media screen and (max-width: 800px ) {
    .card--container {
        height: 25vh;
        width: 95%;
        margin: 50px auto;
        padding: 1.5rem;
    }

    .descriptionBox {
        display: inline;
        margin: 0;
        padding: 0;
    }

    .link {
        padding: 0;
    }

    .itemList {
        font-size: 16px;
        padding: 3px 0;
    }
}

@media screen and (max-width: 590px ) {
    .card--container {
        flex-direction: column;
        height: 45vh;
        width: 80%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 430px ) {
    .card--container {
        width: 80%;
        height: 65vh;
    }

    .descriptionBox {
        margin: 0;
        width: 95%;
    }
}