.main--container {
    background-color: beige;
}

.firstSections--container { 
    background-image: url(../../assets/bg1.png);
    background-size: cover;
    background-position: center;
    max-height: max-content;
    width: 100%;
    background-repeat: no-repeat;
    padding: 5%;
}


.lastSections--container {
    background-image: url(../../assets/butterfly-bg.png);
    background-position: bottom left;
    background-size: 50%;
    background-repeat: no-repeat;
}

.bgOpacity {
    background: rgba(255, 255, 255, 0.6);
}