
.section--container {
    background-image: url(../../../assets/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.bixaTitle {
    color: #008018;
    font-size: 52px;
    margin: 0 25%;
    font-weight: bold;
    padding: 3rem;

}

.content--container {
    padding: 0.5rem;
}

.contentTitle {
    padding: 0.2rem;
    font-size: 44px;
    color: navy;
}

.contentBox--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15%;
    padding: 1rem;
}

.contentBox--paragraph {
    margin: 10px;
    margin-left: 5rem;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
}

@media screen and (max-width: 800px ) {
    .bixaTitle {
        font-size: 44px;
        margin: 0 10%;
        padding: 2rem;
    }

    .contentBox--container {
        margin: 20px 0;
    }
}

@media screen and (max-width: 510px ) {
    .contentTitle {
        font-size: 36px;
    }
    .contentBox--container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contentBox--paragraph {
        margin: 10px;
        text-align: center;
    }
}